html,
body{
  background-color: #F2F2F2;
}

#app {
  padding: 0;
  margin: 0;
}

.load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.load_title {
  color: #79bbff;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.el-header{
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

